---
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";
import GlobalLoader from "../components/GlobalLoader.astro";
import BookingModal from "../components/BookingModal.astro";
import SEO from "../components/SEO.astro";
import { getLocaleFromPath } from "../i18n/config";
import "../styles/global.css";

type Props = {
  title: string;
  description?: string;
  image?: string;
};

const { title, description, image } = Astro.props;
const locale = getLocaleFromPath(Astro.url.pathname);
---

<!doctype html>
<html lang={locale} class="scroll-smooth">
  <head>
    <SEO title={title} description={description} image={image} locale={locale} />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" is:inline></script>


    <!-- Google Tag Manager -->
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-M93VGLK5");
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google Analytics (GA4) -->
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-BRLVYQF4KP"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-BRLVYQF4KP");
    </script>
    <!-- End GA4 -->
    <link
      rel="canonical"
      href={new URL(
        Astro.url.pathname.replace(/\/1$/, ""),
        Astro.site,
      ).toString()}
    />
  </head>
  <body
    class="antialiased !bg-blog-gray text-text-main font-sans leading-relaxed overflow-x-clip min-h-screen"
    data-locale={locale}
  >
    <a href="#main-content" class="skip-to-content"> Skip to content </a>

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M93VGLK5"
        height="0"
        width="0"
        class="hidden invisible"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <GlobalLoader />
    <BlogHeader />

    <main id="main-content" class="min-h-dvh pt-md">
      <slot />
    </main>

    <Footer locale={locale} />
    
    <BookingModal />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js" is:inline></script>
  </body>
</html>
